# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\AlgorithmCompetition\20201217competition\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
